.toCenter {
  /* display: flex;
    justify-content: center;
    align-items: center; */
  border: 1px solid red;
  transform: translate(50%, -50%);
}
.testDiv {
  padding: 20px;
}
#child {
  background-color: red;
}
#parent {
  background-color: blue;
}
#grandParent {
  background-color: green;
}
